html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/**globlales**/
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e9eb;
}
.m-2 {
  margin: 2rem;
}
.mr {
  margin-right: 2rem;
}
.ml {
  margin-left: 2rem;
}
.section {
  background-color: rgb(10, 175, 175);
  padding: 0.3rem;
}
.title {
  color: white;
  font-size: 3rem;
}
.container {
  margin: 3rem;
}
.end {
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;

}
.table-container {
  padding: 3rem;
}
.table {
  width: 100%;
  border: 1px solid #000;
}
th,
td {
  width: calc(100% / 6);
  text-align: left;
  vertical-align: top;
  padding: 0.3em;
}
.button {
  padding: 0.5rem 8rem;
  border-radius: 0.5rem;
  background-color: #32da4e;
}
a:hover {
  cursor: pointer;
  background-color: #06b123;
}
.fa-plus {
  color: white;
}
/**footer****/
.footer {
  background-color: #303030c7;
  padding: 0.5rem 0;
  margin-top: 2rem;
}
.footer__texto {
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
